.App {
    font-family: sans-serif;
    background-color:rgb(255, 253, 249);
}

.green-background {
    background-color: rgb(190, 204, 179);
}

.primary-floating {
    box-shadow: 1px 1px 8px 1px grey;
}

.primary-text {
    color: white;
    font-weight: bold;
}

.primary-green {
    color: rgb(12, 98, 63);
}

.primary {
    background-color: rgb(12, 98, 63);
    color: white;
}

.Photo {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    border-bottom-right-radius: 20px; /* Rounded top-left corner */
    border-bottom-left-radius: 20px; /* Rounded top-right corner */
}

.LeftContent, .RightContent {
    display: flex;
    font-size: small;
    display: inline;
}

.OrangePart {
    font-size: medium;
    background-color: rgb(252, 132, 2);
    padding: 5px 5px;
    margin: 5px;
}

.front-page-motto-buttons {
    display: grid;
    grid-template-rows: auto 3rem;
}

.front-page-buttons {
    grid-row: 2;
}

.front-page-motto {
    grid-row: 1;
}

.my-button {
    padding:  0.5rem 1rem;
    margin: 0 0.5rem;
    height: 3rem;
    background: transparent;
    border: rgb(12, 98, 63) solid 2px;
    font-weight: bolder;
    border-radius: 1.5rem;
    color: white;
}

.my-button.primary {
    background: rgb(12, 98, 63);
}

.action-tile-image {
    width: 33%;
}

.divider {
    border-left: 1px solid #000;
    width: 4px;
}

.round-button {
    width: 4rem;
    height: 4rem;
    padding: 0;
    background-color: transparent !important;
    border-width: 0 !important;
}