.Grid {
    background-color: #FFFEF9;
    z-index: 1;
}

.doctor {
    &__card {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        flex-direction: row-reverse;
        z-index: 0;

        @media (max-width: 450px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        width: 505px;
        border-radius: 5%;
        margin-top: 3%;
        margin-right: 7%;
        

        @media (max-width: 450px) {
            width: 80%;
            margin-top: 4%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__text-container {
        width: 600px;
        margin-right: 15%;
        @media (max-width: 450px) {
            margin-top: 5%;
        }

        &__name {
            margin-left: 35%;
            @media (max-width: 450px) {
                margin-left: 0;
                text-align: center;
            }
        
            &__first{
                display: block; // Keeps last and middle name on the same line
                color: #0D6240;
                font-size: 38px;
                font-weight: 500;
    
                @media (max-width: 450px) {
                    font-size: 24px; // Slightly smaller for mobile
                }
            }

            &__last {
                display: inline; // Ensures it's on its own line
                color: #0D6240;
                font-size: 45px;
                font-weight: bold;
        
                @media (max-width: 450px) {
                    font-size: 24px; // Slightly smaller for mobile
                }
            }
            
        }

        &__information {
            color: gray;
            font-size: 25px;
            white-space: nowrap;
            line-height: 1.5;
            margin-left: 50%;
            margin-top: 12%;

            @media (max-width: 450px) {
                margin-left: 0;
                text-align: center;
                margin-top: 5%;
            }

            &__specialty, &__location, &__ratings, &__work-hours {
                display: flex;
                align-items: center;

                @media (max-width: 450px) {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    

        &__signup {
            width: 530px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px auto;
            margin-left: 180px;        

            @media (max-width: 450px) {
                margin-top: 5%;
                margin-left: 0;
                flex-direction: column;
            }


            &__appointment-button, &__review-button {
                background-color: #0D6240;
                color: white;
                border: none;
                width: 260px;
                height: 50px;
                font-size: 25px;
                border-radius: 15px;
                padding: 5px 30px;
                white-space: nowrap;
                font-weight: 300 bold;


                &:first-child {
                    margin-right: 5%;

                    @media (max-width: 450px) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    
    }

    &__comment-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fffffff7;
        border: 0.001px solid rgb(200, 200, 200);
        padding: 40px;
        border-radius: 40px;
        width: 1020px;
        height: 300px;
        z-index: 0;
        margin: 30px auto;
        

        @media (max-width: 450px) {
                width: 90%;
                height: 150%;
                padding: 20;
                margin: 10px auto  ;

            
        }

        &__comment-input {
            width: 100%;
            height: 60%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 15px;
            margin-bottom: 10px;

            @media (max-width: 450px) {

            }
        }

        &__submit-comment-button {
            background-color: #0D6240;
            color: white;
            border: none;
            width: 207px;
            height: 49px;
            padding: 5px 40px;
            font-size: 26px;
            cursor: pointer;
            border-radius: 15px;
            align-self: flex-end;
            font-weight: 300 bold;


            @media (max-width: 450px) {
                width: 100%; // Make the button full-width for easier interaction on mobile
                align-self: center; // Center the button if flex-end alignment isn't ideal on mobile
            }
        }
    }

    &__comments-display {
        width: 1020px;
        height: 200px;
        margin: 30px auto;
        align-items: center;
        font-size: 25px;
        font-weight: 300 bold;


        @media (max-width: 450px) {
            width: 90%;
            margin-left: 5%;
            margin-top: 10px; // Adjust spacing for mobile layout
        }

        &__comment-item {
            background-color: #fffffff7;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 15px;
            word-wrap: break-word;
            border: 1px solid #ccc;

            p {
                margin-left: 1%;
                display: flex;
                align-items: center;

                .fa-star {
                    margin-left: 2px;
                    color: #ff8408;
                    margin-right: 4px;

                    @media (max-width: 450px) {
                        // Any specific mobile adjustments for stars can go here
                    }
                }
            }
        }
    }
}
